/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
/*container*/
.container {
    max-width: 800px;
    margin: 0 auto;
}

/*col settings*/
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}
/*Flex settings*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}
/*ul settings*/
ul {
    list-style: none;
}
/*A settings*/
a {
    text-decoration: none;
    color: white;
}
/*HEADER*/

.header-page {
    background-color: #ff6900;
    padding: 15px;
    width: 100%;  
    position: fixed; 
    z-index: 100; 
}

.header-page [class^='col-'] {
    /*border: 1px solid black;*/
    padding: 2px;
}

.gender {
    font-size: 12px;
}

.logo {
    width: 115px;
}

.icons {
    font-size: 12px;
}

/*MAIN*/
.main-page .row {
    padding-top: 60px;
}
/*card*/
.card-image {
    position: relative;
}

.heart-sign,
.discount,
.sustainability {
    z-index: 2;
}
.heart-sign {
    background-color: white;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.heart-sign:hover {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 5px;
}

.sustainability {
    background-color: green;
    color: white;
    padding: 3px;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.brand-name {
    font-size: 12px;
}

.model {
    font-weight: 700;
    font-size: 15px;
}

.price ,
.old-price {
    font-size: 12px;
    font-weight: bold;
}
.price {
    color: red;
}

.old-price {
    text-decoration:line-through ;
}

.back-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.card:hover .back-img {
    z-index: 1;
}
/*main shop*/
.col-4 {
    padding: 15px;
}

/*FOOTER*/
.footer-page {
    background-color: #1a1a1a;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-page [class^='col-'] {
    padding: 6px;
}
.row-social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4 {
    color: white;
    font-size: 12px;
    margin-bottom: 6px;
}

.row-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row-footer, .col-6 a {
    font-size: 11px;
}
